.container {
    width: 80%;
    margin: 0px auto;
}
.container table td,
.container table th {
    text-align: center;
}
.hiddle {
    display: none;
}
.layui-form.header {
    position: fixed;
    width: 80%;
    top: 0;
    z-index: 100;

}
.layui-form table {
    margin-top: 0 !important;
}
.submit {
    margin: 20px auto;
    text-align: center;
}
.layui-table td, .layui-table th {
    position: unset !important;
}
.finish-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
.words {
    width: 100%;
    border: none;
    resize: none;
    line-height: 1.2;
    background-color: transparent;
}
